body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}

.board {
  display: inline-grid;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  background-color: #1A58F1;
  grid-template-rows: repeat(7, 10vh);
  grid-template-columns: repeat(7, 10vh);
}

.square {
  position: relative;
  display: block;
  margin: 0.5vh;
}

.player {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: #ccc;
  vertical-align: middle;
  text-align: center;
  line-height: 9vh;
  color: #ffffff;
}

.player-1 {
  background-color: #E4172B;
}

.player-2 {
  background-color: #FFE630;
}

.new-game {
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 5px;
  cursor: pointer;
}